@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  font-size: 62.5%;
  font-family: "proxima-nova", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --white: #fff;
  --warm-gray: #333;
  --warm-dark: #2222;
  --dark: #272727;
  --light-grey: #dddddd;
  --gray: #737373;
  --background: #3c342f;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  color: var(--gray);
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.4rem;
  font-family: "futura-pt", "Lato", Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* CONTAINER */

main >*, footer >*, .banner {
  padding: 0 5%;
}

/* BANNER */

.banner {
  width: 100%;
  height: 80px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
}

.banner a {
  width: 30px;
  height: 30px;
  background-color: var(--light-grey);
  margin-right: 10px;
  padding: 7px;
  display: flex;
  align-items: center;
}

.banner img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.banner img path {
  fill: var(--white);
}

/* HEADER */

header {
  position: absolute;
  top: 0;
  width: 90%;
  height: 5vh;
  color: var(--white);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-weight: bolder;
  font-size: 22px;
  color: var(--white);
  margin: 0;
}

.links_header {
  font-weight: bold;
  font-size: 14px;
  float: right;
  padding: 10px 50px;
}

.links_header a {
  margin: 10px;
}

/* FIRST PAGE */

.first_page {
  /* BACKGROUND SETTINGS */
  background: rgba(0, 0, 0, .4) url(assets/images/chalet.png);
  /* TODO Fix zoom bg */
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-blend-mode: darken;

  /* DISPLAY */
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  bottom: 12.5px;
  right: auto;
  left: auto;
}

.arrow img {
  width: 5rem;
}

/* GAME CONCEPTS */

.game_concepts img {
  width: 182px;
  height: 182px;
}



