.banner {
  width: 100vw;
  height: 100vh;
  background-image:
  /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url("../../images/chalet.png");
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #ffff;
}
