@use './abstracts/colors' as clr;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "proxima-nova", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-size: 1.4rem;
  color: clr.$gray;
  background-color: clr.$white;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.4rem;
  font-family: "futura-pt", "Lato", Helvetica, sans-serif;
}
